{% extends 'base.html' %}

{% block main %}
<h1 class="title">Properties</h1>
{% include 'flash_messages.html' %}
<div class="properties">
    {% for property in properties %}
    <div class="grids">
        <div class="card text-left" style="width: 18rem;">
            {% set pic= rootdirectory ~ property.photo %}
            <img class="card-img-top" src="{{ url_for('static',filename=pic) }}" width="250" height="200">
            <div class="card-body">
                <h5 class="card-title">{{ property.title }}</h5>
            </div>
            <div class="card-body">
                {{ property.location }}
                <br>
                <div class="d-flex justify-content-start"><span class="price">
                        <h6> {{ '$'~property.price }}</h6>
                </div></span>
            </div>
            <div class="card-body">
                <div class="d-grid gap-2">
                    <a href="{{ url_for('view_properties',id=property.propertyId) }}" id="btn"
                        class="btn btn-lg btn-primary">View Property</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}