{% extends 'base.html' %}

{% block main %}
    <div class="everything">
        <div class="card flex-row" >
            {% set photo = rootdiri ~ property_form.photo %}
            
            <img class=class="card-img-sm-left" src="{{ url_for('static',filename = photo) }}" alt="Card image" width="470" height="490">
              
            <div class="card-body">
                <h5  class="card-title"> {{ prop.title }}</h5>
                <div class="d-flex justify-content-start">
                    <span class = "price"><h6>  {{ '$'~prop.price }}</h6></span> 
                    <span class = "type"><h6>{{ prop.property_type }}</h6></span>
                </div>
    
                <p class="card-text">
                    {{prop.description }}
                </p>
                <br>
                <div class = "d-flex flex-row bd-highlight mb-3">
                    <span class = "bed"><h6>  {{ prop.no_of_bedroom }} Bedrooms  </h6></span>
                    <span class = "bath"><h6>  {{ prop.no_of_bathroom }} Bathrooms</h6></span>
                </div>
                
                <h6> {{ prop.location }}</h6>
                <br>
                <a href="#" class="btn btn-primary">Email Realtor</a>
            </div>
        </div>
    </div>
      
{% endblock %}